body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom, #adc7d1,#f4f6f7);
    background-attachment: fixed ;

  }
 .w3-container  {
    box-shadow: 0 4px 8px 0 rgba(96, 91, 91, 0.4);
    background-color: rgba(245, 241, 241, 0.2);
    
  }

  
#up{
    margin: 5%;
   
}

a{color: rgb(37, 30, 232);}
  .container-fluid{
    background-color: #d6e5f3;
  
  }
  